@media print{
    @page {
        size: A4 landscape;
        margin: 0;
    }
    @page: right {
        display : none;
    }
    body {
        height:100%; 
        margin: 0 !important; 
        overflow: hidden;
        /* margin-left: 1.0cm;
        margin-right: 1.0cm;
        margin-top: 1.0cm;
        margin-bottom: 1.0cm; */
    }
}

@media screen {

    .printable {
    display: none;
    }

    .unprintable {
    display: block;
    }

}

@media print {

    .printable {
    display: block;
    }

    .unprintable {
    display: none;
    }

    div {
        height:100%; 
        margin: 0 !important; 
        padding: 1cm !important;
        overflow: hidden;
        page-break-after: always;
    }

    .qrcode {
        margin : 1cm;
    }

    h2 {
        margin: 1cm;
    }
}